.mediaViewInfo {
	--web-view-name: Pago;
	--web-view-id: Pago;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Pago;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Pago {
	position: absolute;
	width: 428px;
	height: 962px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Pago;
	--web-view-id: Pago;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectngulo_13 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_13 {
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 93px;
	left: -22px;
	top: -16px;
}
#NoPath {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 376px;
	top: 14px;
	overflow: visible;
}
#n_7000 {
	left: 158px;
	top: 113px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectngulo_12 {
	fill: rgba(40,41,94,1);
}
.Rectngulo_12 {
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 85px;
	left: 0px;
	top: 879px;
}
#Nuestras_redes {
	left: 321px;
	top: 898px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#icons8_Instagram_52px {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 365px;
	top: 918px;
	overflow: visible;
}
#icons8_facebook_f_60px {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 344px;
	top: 918px;
	overflow: visible;
}
#icons8_twitter_60px {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 323px;
	top: 918px;
	overflow: visible;
}
#Trminos_y_Condiciones {
	left: 44px;
	top: 895px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Copyright_2020_Sodexo_Todos_lo {
	opacity: 0.25;
	left: 44px;
	top: 915px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
#Imagen_16 {
	position: absolute;
	width: 152px;
	height: 57px;
	left: 13px;
	top: 5px;
	overflow: visible;
}
#Imagen_18 {
	position: absolute;
	width: 270px;
	height: 271px;
	left: 79px;
	top: 334px;
	overflow: visible;
}
#Clave_Dinamica {
	left: 110px;
	top: 115px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(66,66,66,1);
}
#Muestra_el_cdigo_QR_al_comerci {
	left: 39px;
	top: 161px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI Emoji;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(118,118,118,1);
}
#Codigo_de_pago {
	left: 160px;
	top: 243px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI Emoji;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(118,118,118,1);
}
#n_927 {
	left: 174px;
	top: 263px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(40,56,151,1);
}
#Se_dispone_de_90_minutos_para_ {
	left: 49px;
	top: 617px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI Emoji;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(118,118,118,1);
}
#Rectngulo_19 {
	fill: rgba(230,54,49,1);
}
.Rectngulo_19 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 38px;
	left: 154px;
	top: 789px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inicio.html;
	cursor: pointer;
}
#Volver {
	left: 193px;
	top: 798px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI Emoji;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#icons8_customer_64px {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 364px;
	top: 9px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Menu.html;
	cursor: pointer;
}